@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap")
      format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("https://fonts.googleapis.com/css2?family=Roboto&display=swap")
      format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Italic";
  src: local("Roboto-Italic"),
    url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap")
      format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Italic";
  src: local("Roboto-Italic"),
    url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap")
      format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Italic"),
    url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap")
      format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
    url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap")
      format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-BoldItalic";
  src: local("Roboto-BoldItalic"),
    url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap")
      format("truetype");
  font-style: italic;
  font-weight: 700;
}
