.p {
  &__0 {
    padding: 0;
  }
  &__r1 {
    padding-right: 10px;
  }
  &__l1 {
    padding-left: 10px;
  }
  &__t1 {
    padding-top: 10px;
  }
  &__b1 {
    padding-bottom: 10px;
  }
  &__x1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  &__y1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.m {
  &__0 {
    margin: 0;
  }
  &__r1 {
    margin-right: 10px;
  }
  &__l1 {
    margin-left: 10px;
  }
  &__t1 {
    margin-top: 10px;
  }
  &__b1 {
    margin-bottom: 10px;
  }
  &__x1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  &__y1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
