header {
  background-color: $green;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: $white;
  h5 {
    font-size: 1.5rem;
  }
}
.header__menu {
}
.social__list {
  @include Dflex;
}
.ant-menu-submenu-title {
  width: unset !important;
}

// fix antd
.ant-menu {
  background-color: transparent;
}
.ant-menu-sub.ant-menu-inline {
  background-color: transparent;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: transparent;
}
